template(id='comment-template')
  li.last__list-item.last__list-item--end
    img.last__list-image(src=`/img/` width='20' height='20' alt='Аватар пользователя')
    b.last__list-name
    a.last__list-link(href=``)
